.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper {
  cursor: pointer;
  text-decoration: underline;
}
.icon {
  filter: invert(1);
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 5px;
    gap: 5px;
  }
}