.maskIcon {
  position: relative;
  filter: invert(1);
  display: flex;
  width: 40px;
  height: 40px;
}
.maskIcon img {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-duration: 1250ms;
  animation-fill-mode: forwards;
}
.upperChat {
  opacity: 0;
  transform: translate(-25%, -50%) translateY(10%);
  animation-name: upperChatSlideIn;
}
.lowerChat {
  opacity: 0;
  transform: scaleX(-1) translate(-25%, 50%) translateY(10%);
  animation-name: lowerChatSlideIn;
  animation-delay: 750ms;
}
.productName {
  margin-left: 30px;
  color: white;
  font-size: var(--pc-normal-height);
}
@keyframes upperChatSlideIn {
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    transform: translate(-25%, -50%);
  }
}
@keyframes lowerChatSlideIn {
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    transform: scaleX(-1) translate(-25%, 50%);
  }
}

@media screen and (max-width: 767px) {
  .maskIcon {
    width: 30px;
    height: 30px;
  }
  .productName {
    margin-left: 20px;
    font-size: var(--mobile-normal-height);
  }
}