.maskIcon {
  position: relative;
  filter: invert(1);
  display: flex;
  width: 40px;
  height: 40px;
}
.maskIcon img {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-duration: 1250ms;
  animation-fill-mode: forwards;
}
.upperChat {
  opacity: 0;
  transform: translate(-25%, -50%) translateY(10%);
  animation-name: upperChatSlideIn;
}
.lowerChat {
  opacity: 0;
  transform: scaleX(-1) translate(-25%, 50%) translateY(10%);
  animation-name: lowerChatSlideIn;
  animation-delay: 750ms;
}
.productName {
  margin-left: 30px;
  color: white;
  font-size: var(--pc-normal-height);
}
@keyframes upperChatSlideIn {
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    transform: translate(-25%, -50%);
  }
}
@keyframes lowerChatSlideIn {
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    transform: scaleX(-1) translate(-25%, 50%);
  }
}

@media screen and (max-width: 767px) {
  .maskIcon {
    width: 30px;
    height: 30px;
  }
  .productName {
    margin-left: 20px;
    font-size: var(--mobile-normal-height);
  }
}

.contactForm {
  z-index: 10;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-top: 3px solid rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  width: calc(90% - 60px);
  gap: 30px;
}
.contactForm > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 60%;
}
.contactForm div > p {
  font-size: 12px;
}
.contactForm div > input {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  background-color: transparent;
  width: calc(100% - 12px);
  font-size: 14px;
}
.contactForm div > textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  background-color: transparent;
  width: calc(100% - 12px);
  resize: none;
  overflow-y: scroll;
  font-size: 14px;
}
.formSubmit {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  color: black;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .contactForm {
    padding: 15px;
    width: calc(90% - 30px);
    gap: 20px;
  }
  .contactForm > div {
    width: 100%;
  }
}