.contact {
  margin-top: 20px;
}
.contact button {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 30px;
  background-color: transparent;
  color: white;
  font-size: calc(12px + 0.7cqi);
  font-weight: bold;
  border: 2px solid white;
  border-radius: 10px;
  transition: all 250ms;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 5px;
  }
  .contact button {
    margin-top: 5px;
  }
}

@media (hover:hover) {
  .contact button:hover {
    filter: invert(0.6);
  }
}