.mapIcon {
  position: relative;
}
.board {
  transform: translateY(10%) skew(20deg) perspective(180px) rotateX(70deg) rotate(25deg);
  width: 90px;
  height: 90px;
  filter: invert(1);
  animation: slideInBoard 500ms forwards;
  transition: all 750ms;
}
.placeholder {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  filter: invert(1);
  animation: slideInPlaceholder 500ms forwards;
  transition: all 750ms;
}
.productName {
  opacity: 0;
  margin-left: 15px;
  transform: translateY(10%);
}
@keyframes slideInBoard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: translateY(0) skew(20deg) perspective(180px) rotateX(70deg) rotate(25deg);
  }
}
@keyframes slideInPlaceholder {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: translateY(20%);
  }
}

.slideInProductName {
  animation: slideInProductName 500ms forwards;
  animation-delay: 550ms;
}
@keyframes slideInProductName {
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.resizeBoard {
  width: 60px !important;
  height: 60px !important;
}
.resizePlaceholder {
  width: 24px !important;
  height: 24px !important;
}

.hoverBoard {
  animation: hoverBoard 650ms alternate infinite;
}
@keyframes hoverBoard {
  0% {
    transform: translateY(0) skew(20deg) perspective(180px) rotateX(70deg) rotate(25deg);
  }
  100% {
    transform: translateY(5%) skew(20deg) perspective(180px) rotateX(70deg) rotate(25deg);
  }
}
.hoverPlaceholder {
  animation: hoverPlaceholder 650ms alternate infinite;
}
@keyframes hoverPlaceholder {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(40%);
  }
}

@media screen and (max-width: 767px) {
  .board {
    width: 60px;
    height: 60px;
  }
  .resizeBoard {
    width: 48px !important;
    height: 48px !important;
  }
  .placeholder {
    width: 24px;
    height: 24px;
  }
  .resizePlaceholder {
    width: 18px !important;
    height: 18px !important;
  }
}

.introduce {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}
.map {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: calc(50% - 5px);
  width: 90%;
  height: 40%;
}
.mapCover {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: calc(50% - 5px);
  background-color: rgba(0, 0, 0, 0.65);
  width: 90%;
  height: 40%;
}
.mapShadow {
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(45% + 10px);
  left: calc(50% + 5px);
  background-color: rgba(0, 0, 0, 0.35);
  width: 90%;
  height: 40%;
}