.line {
  opacity: 0;
  height: 0;
  border-left: 4px solid white;
  animation-name: pcLineExtend;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
.productName {
  padding-left: 10px;
  color: white;
  overflow: hidden;
}
.productName h1 {
  opacity: 0;
  transform: translateX(-100%);
  animation-name: productNameSlideIn;
  animation-duration: 500ms;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}
@keyframes pcLineExtend {
  100% {
    opacity: 100%;
    height: var(--pc-normal-height);
  }
}
@keyframes productNameSlideIn {
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .line {
    animation-name: mobileLineExtend;
  }
  @keyframes mobileLineExtend {
    100% {
      opacity: 100%;
      height: var(--mobile-normal-height);
    }
  }
}