.active {
  display: flex !important;
}

.mask {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.maskAnimation {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.mask .line {
  opacity: 0;
  height: 0;
  border-left: 4px solid white;
  animation-name: pcLineExtend;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
.mask .productName {
  padding-left: 10px;
  color: white;
  overflow: hidden;
}
.productName h1 {
  opacity: 0;
  transform: translateX(-100%);
  animation-name: productNameSlideIn;
  animation-duration: 500ms;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}
@keyframes pcLineExtend {
  100% {
    opacity: 100%;
    height: var(--pc-normal-height);
  }
}
@keyframes productNameSlideIn {
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .mask .line {
    height: var(--mobile-normal-height);
    animation-name: mobileLineExtend;
  }
  .productName h1 {
    font-size: var(--mobile-normal-height);
  }
  @keyframes mobileLineExtend {
    100% {
      height: var(--mobile-normal-height);
    }
  }
}