.emphasizeProduct {
  z-index: 20;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;
  width: 100%;
}

.emphasizeProduct p {
  margin-top: 20px;
  font-size: var(--pc-light-height);
}

@media screen and (max-width: 767px) {
  .emphasizeProduct h1 {
    font-size: var(--mobile-normal-height);
  }
  .emphasizeProduct p {
    margin-top: 10px;
    font-size: var(--mobile-light-height);
  }
}