.slide {
  animation: slide 500ms backwards;
  animation-delay: 300ms;
}

@keyframes slide {
  0% {
    opacity: 0%;
    transform: translateX(-50%);
  }
  100% {
    opacity: 100%;
    transform: translate(0%);
  }
}

.ringing {
  animation: ringing 600ms backwards;
  animation-delay: 400ms;
  animation-iteration-count: 1;
  --angle: 7deg;
}

@keyframes ringing {
  0% {
    opacity: 0%;
    transform: rotate(var(--angle));
  }
  25% {
    transform: rotate(calc(var(--angle) * -1));
  }
  50% {
    transform: rotate(var(--angle));
  }
  75% {
    transform: rotate(calc(var(--angle) * -1));
  }
  100% {
    opacity: 100%;
    transform: rotate(0);
  }
}