.arrowDown {
  z-index: 10;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 40px;
  width: 30px;
  height: 30px;
  animation: upAndDownPC 1500ms ease-in-out infinite;
  filter: invert(1);
}

@media screen and (max-width: 767px) {
  .arrowDown {
    transform: translateY(-50%);
    left: 25px;
    animation-name: upAndDownMobile;
  }
}

@keyframes upAndDownPC {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes upAndDownMobile {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}