* {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
}

body {
  /* overflow-y: hidden; */
  /* touch-action: none; */
}

:root {
  --max-width: 1500px;
  
  --pc-typing-height: 48px;
  --mobile-typing-height: 36px;
  
  --pc-light-height: 18px;
  --mobile-light-height: 14px;

  --pc-normal-height: 32px;
  --mobile-normal-height: 24px;

  --text-black: #191919;
  --text-white: white;
}