.container {
  z-index: 10;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 50px;
  max-width: var(--max-width);
  width: 100%;
  display: flex;
}
.logo {
  margin-left: 50px;
}

@media screen and (max-width: 767px) {
  .container {
    top: 30px;
  }
  .logo {
    margin-left: 20px;
  }
}